<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenue à tous</a></li>
            <li><a href="{{ path('app_etudiant_list') }}">Etudiants</a></li>
            <li><a href="">Mineurs</a></li>
            <li><a href="{{ path('app_promotion_list') }}">Promotions</a></li>
        </ul>
    </nav>
</header>